@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    .printable {
        display: block;
    }
}

.basic{
  padding: 1px;
  margin: 1px;
  border: 1px;
  background-color:#e0e0e3;
  color: black;
}

.loader {
    border: 16px solid green;
    border-top: 16px solid yellow;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position:absolute;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.popup {
    position: absolute;
    width: 50%;
    top: 10%;
    left :25%;
    outline: 3px solid black;
    z-index: 2;
}

.coverDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:black;
    top: 0%;
    left :0%;
    opacity: .3;
    z-index: 1;
}


/* Smartphones (portrait and landscape) ———– */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .popup {
        position: absolute;
        width: 90%;
        top: 10%;
        left :5%;
        outline: 3px solid black;
        z-index: 2;
    }
}

.positionRight {
    position: fixed !important; 
    top:20px !important; 
    right:6px !important; 
}

ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: 	#5bc0de;
    border: 2px solid white;
    top:50px;
    right:6px;
    border-radius:25px;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li {
    text-align: center;
    border-bottom: 2px solid white;
}

li:last-child {
    border-bottom: none;
}
