<div class="basic">
  <h2 class="no-print text-center ">Loan Calculator</h2>
  <form #form="ngForm">

    <table class="table no-print" *ngIf="showMainScreen">
      <tbody>
        <tr>
          <td>
            <label> Loan Amount</label>
            <input type="text" class="form-control" placeholder="Loan Amount" name="loanAmount" required minlength="2" maxlength="8"
              ngModel pattern="[0-9.]{1,9}" [formControl]="loanAmount" (keyup)="clearSchedule()">
            <small [hidden]="loanAmount.valid || (loanAmount.pristine)" class="text-danger"> 
                Loan Amount is required and must be numeric.
            </small>
          </td>
          <td>
            <label> Interest Rate %</label>
            <input type="text" class="form-control" placeholder="Interest Rate %" name="interestRate" required minlength="1" maxlength="3"
              ngModel pattern="[0-9.]{1,4}" [formControl]="interestRate" (keyup)="clearSchedule()">
            <small [hidden]="interestRate.valid || (interestRate.pristine)" class="text-danger"> 
                Interest Rate is required and must be numeric.
            </small>
          </td>
        </tr>
        <tr>
          <td>
            <label>Loan Term</label>
            <input type="text" class="form-control" placeholder="Number Of Payments" name="numberOfPayments" required minlength="1" maxlength="3"
              ngModel pattern="[0-9]{1,3}" [formControl]="numberOfPayments" (keyup)="clearSchedule()">
            <small [hidden]="numberOfPayments.valid || (numberOfPayments.pristine)" class="text-danger"> 
                Number of payments/Term is required and must be numeric.
            </small>
          </td>
          <td>
            <label>Start Date</label>
            <input type="date" class="form-control" name="startDate" [formControl]="startDate" (change)="clearSchedule()">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <label>Loan item</label>
            <input class="form-control" [(ngModel)]="loanItem" name="loanItem" placeholder="Optionally add item or items loan is for.">
          </td>
        </tr>
        <tr>
          <td class="hidden-xs" colspan="2">
            <input type="button" class="btn btn-info" [disabled]="!paymentData" value="Add" (click)="clickPopUpMsg('Add Payment', 'Add')" />
            <input type="button" class="btn btn-info" [disabled]="!paymentData" value="Fix" (click)="clickPopUpMsg('Add Fix', 'Fix')" />
            <input type="button" class="btn btn-info" [disabled]="!paymentData" value="Waiver" (click)="clickPopUpMsg('Add Waiver', 'Add')" />
            <input type="button" class="btn btn-info" [disabled]="!paymentData" value="Buy-Down" (click)="clickPopUpMsg('Add Buy-Down', 'Add')" />
            <input type="button" class="btn btn-info" [disabled]="!paymentData" value="Balloon" (click)="clickPopUpMsg('Add Balloon', 'Add')" />
            <input type="button" class="btn btn-info" [disabled]="!paymentData" value="Skip" (click)="clickPopUpMsg('Add Skip', 'Skip')" />
          </td>
        </tr>


      </tbody>
    </table>
    <div *ngIf="paymentData">
      <h4 *ngIf="loanItem" class="text-info text-center"> Payment Amortization scheule for {{loanItem}}.</h4>
      <h4 class="text-info text-center">
        Monthly Payment {{paymentData.payment.amount | currency:'USD':true:'1.2-2'}}, Total Interest {{paymentData.payment.interest
        | currency:'USD':true:'1.2-2'}}
      </h4>

      <table class="table table-bordered table-condensed table-striped">
        <thead class="thead-inverse">
          <tr>
            <th class="hidden-xs">#</th>
            <th class="visible-print-block">#</th>
            <th class="hidden-xs">Beg. Balance</th>
            <th class="visible-print-block">Begin Balance</th>
            <th>Payment</th>
            <th>Principal</th>
            <th>Interest</th>
            <th class="hidden-xs">Total Int.</th>
            <th class="visible-print-block">Total Interest</th>
            <th>End Balance</th>
            <th>Due Date</th>
          </tr>
        </thead>

        <tbody *ngFor="let payment of payments">
          <tr>
            <td class="hidden-xs">{{ payment.paymentNumber }}</td>
            <td class="visible-print-block">{{ payment.paymentNumber }}</td>
            <td class="hidden-xs">{{ payment.beginningBalance | currency:'USD':true:'1.2-2'}}</td>
            <td class="visible-print-block">{{ payment.beginningBalance | currency:'USD':true:'1.2-2'}}</td>
            <td>{{ payment.amount | currency:'USD':true:'1.2-2'}}</td>
            <td>{{ payment.principal | currency:'USD':true:'1.2-2'}}</td>
            <td>{{ payment.interest | currency:'USD':true:'1.2-2'}}</td>
            <td class="hidden-xs">{{ payment.totalInterest | currency:'USD':true:'1.2-2'}}</td>
            <td class="visible-print-block">{{ payment.totalInterest | currency:'USD':true:'1.2-2'}}</td>
            <td>{{ payment.balance | currency:'USD':true:'1.2-2'}}</td>
            <td>{{ payment.dueDate | date: 'MM/dd/yyyy' }}</td>
          </tr>
          <tr>
        </tbody>
      </table>
    </div>

    <!-- Add payment div -->
    <!--<div *ngIf="showPopup" class="container" style = "width%; top:20px">-->
    <div *ngIf="showPopup" class="modal-header popup basic">
      <h4 class="text-center">{{ popUpMsg }}</h4>
      <input type="text" class="form-control" placeholder="Add Payment Amount" name="addPayment" minlength="2" maxlength="8" ngModel
        pattern="[0-9.]{1,9}" [formControl]="addPayment">
      <small [hidden]="addPayment.valid || (addPayment.pristine)" class="text-danger"> 
                Payment amount must be numeric.
      </small>
      <!--<br/>
      <input type="date" class="form-control" name="addPaymentDate" [formControl]="addPaymentDate">
      <br/>-->
      <br/>
 
      <select name="addPaymentDate" class = "form-control"> 
          <option *ngFor="let payment of payments" [value]="obj">{{payment.dueDate | date: 'MM/dd/yyyy'}}</option>
      </select>
      <br/>
      <span>
      <input type="button" class="btn btn-info"  [disabled]="!addPayment.valid ||  addPayment.pristine"  value="{{ popUpProcess }}" (click)="resetScreen()" />
      <input type="button" class="btn btn-info" value="Cancel" (click)="resetScreen()" />
       </span>
      <br/>
      <br/>
    </div>

    <div class="coverDiv" *ngIf="coverDiv">

      cver div
    </div>
  </form>
</div>